.border-between > [class*='col-']:after {
 background: #e3e3e3;
 bottom: 0;
 content: " ";
 right: 0;
 position: absolute;
 width: 1px;
 top: 0;
}
.border-between > [class*='col-']:last-child:after {
 display: none;
}
.border-between > [class*='col-']:before {
 background: #e3e3e3;
 bottom: 0;
 content: " ";
 left: -1px;
 position: absolute;
 width: 1px;
 top: 0;
}
.border-between > [class*='col-']:first-child:before {
 display: none;
}

.nopadding {
  padding: 0 !important;
}
.nomargin {
  margin: 0 !important;
}

.panel-title {
  text-transform: uppercase;
  font-weight: 300;
  text-shadow: 0px -1px 1px rgba(0,0,0,.3);
}

.panel, .panel-heading, .panel-body {
  border-radius: 0;
}

.list-group.framed .list-group-item {
  border-bottom: 1px solid lightgray;
}

.list-group-item {
  margin-bottom: 0 !important;
}

.list-group-item.task-link {
  padding-top: 10px;
  padding-bottom: 10px;
}

hr {
  border-color: #aaa;
}

a.task-link .list-group-item-heading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px !important;
  line-height: 15px !important;
  color: gray !important;
  font-family: monospace;
  margin-bottom: 10px;
}

.padding-ns {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar {
  background-color: #315669;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: large;
  text-shadow: -1px 0px 1px black;
}

.ace-editor {
  position: absolute !important;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.login-buttons:hover, .login-buttons[aria-expanded=true] {
  color: white !important;  /* FIXME: temporary */
  background-color: #417894 !important;
  transition-duration: 200ms;
}

.login-buttons {
  transition-duration: 200ms;
}

.login-buttons i {
  margin-right: 5px;
}

.btn-square {
  padding: 0;
  width: 42px;
  height: 42px;
  vertical-align: middle;
  text-align: middle;
  background-color: white;
  border-radius: 2px;
  border: 0;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12) !important;
  background-color: white !important;
  margin: 0;
}

.btn-square i {
  line-height: 42px;
}
